name: End-to-end DevSecOps Workflow

on:
  workflow_dispatch:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: |
          ./.github/scripts/build.sh

      - name: Unit Test
        run: |
          ./.github/scripts/unit-test.sh

      - name: SCA
        run: |
          ./.github/scripts/sca.sh

      - name: SAST
        run: |
          ./.github/scripts/sast.sh

      - name: Container Image Scan
        run: |
          ./.github/scripts/container-image-scan.sh

      - name: Container Image Build And Push
        run: |
          ./.github/scripts/container-image.sh

      - name: Kubesec
        run: |
          ./.github/scripts/kubesec.sh

      - name: Deploy DEV
        run: |
          ./.github/scripts/deploy.sh

      - name: Integration Test DEV
        run: |
          ./.github/scripts/integration-test.sh

      - name: DAST
        run: |
          ./.github/scripts/dast.sh

      - name: Environment Promotion
        run: |
          ./.github/scripts/environment-promotion.sh

      - name: CIS Benchmark
        run: |
          ./.github/scripts/cis-etcd.sh
          ./.github/scripts/cis-kubelet.sh
          ./.github/scripts/cis-master.sh

      - name: Deploy PROD
        run: |
          ./.github/scripts/deploy.sh

      - name: Integration Test PROD
        run: |
          ./.github/scripts/integration-test.sh