name: CD

on:
  workflow_dispatch:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  CI:
    uses: freddieentity/github-actions-started/.github/workflows/ci.yaml@main
    with:
      enabled: true
    
  DEV:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: Deploy DEV
        run: |
          ./.github/scripts/deploy.sh

  IntegrationTestDEV:
    needs: [DEV]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: Integration Test DEV
        run: |
          ./.github/scripts/integration-test.sh

  DAST:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: DAST
        run: |
          ./.github/scripts/dast.sh

  EnvironmentPromotion:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: Environment Promotion
        run: |
          ./.github/scripts/environment-promotion.sh
          
  CISBenchmark:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: CIS Benchmark
        run: |
          ./.github/scripts/cis-etcd.sh
          ./.github/scripts/cis-kubelet.sh
          ./.github/scripts/cis-master.sh

  PROD:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: Deploy PROD
        run: |
          ./.github/scripts/deploy.sh

  IntegrationTestPROD:
    needs: [PROD]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3          
      - name: Integration Test PROD
        run: |
          ./.github/scripts/integration-test.sh